@import "compass";
@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&amp;display=swap&amp;subset=cyrillic');

// VARIABLES
// =====================================================================================================================
$font-family: 'Montserrat', sans-serif !important;
$text-color: #212121;
$box-shadow-lite: 0 0 1rem 0 rgba(0, 0, 0, 0.75);

/*
  GLOBAL
  ======================================================================================================================
*/
* {
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  font-family: $font-family;
  font-size: 1rem;
  color: $text-color;
  line-height: 1.45;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/*
  HEADER
  ======================================================================================================================
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
  z-index: 100;
  @include transition(padding .15s Linear, background .15s Linear);
  &__container {
    @include display-flex();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    @extend .container;
  }
  &__logo {
    display: inline-block;
    width: 10rem;
    line-height: 0;
  }
}

.btn-menu {
  display: none;
  position: relative;
  margin: 0;
  padding: 0;
  width: 2rem;
  background: transparent;
  border: none;
  line-height: 0;
  z-index: 120;
  &__line {
    display: block;
    float: left;
    margin: 2px 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all .15s Linear;
    &:nth-child(2) {
      width: 1rem;
      background: #ff004e;
    }
  }
}

.splash {
  transition: all .3s Linear;
}

// MENU OPEN
.menu-open {
  overflow: hidden;
  & .main-menu {
    right: 0;
  }
  & .btn-menu {
    &__line {
      &:nth-child(2) {
        float: right;
        background: #ff004e;
      }
    }
  }
  .splash {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    transition: all .3s Linear;
    opacity: .6;
    background: #000;
  }
}

// SCROLL PAGE
.scroll {
  .header {
    padding: 1rem 0;
    background: #191923;
    @include box-shadow($box-shadow-lite);
  }
}

// MAIN MENU
.main-menu {
  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    position: relative;
  }
  &__link {
    display: block;
    padding: .5rem;
    font-size: .8rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .4px;
    @include transition(all .3s Linear);
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 0;
      background: transparent;
      @include transition(all .15s Linear);
    }
    &:hover {
      color: #ffc300;
      &:after {
        left: 0;
        width: 100%;
        background: #ffc300;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1.5rem 0;
  }
  .btn-menu {
    display: block;
  }
  .main-menu {
    display: block;
    position: absolute;
    right: -75%;
    top: 0;
    padding: 3rem 0;
    width: 70%;
    height: 110vh;
    background: #191923;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.45);
    transition: all .15s Ease;
    z-index: 110;
    &__item {
      display: block !important;
    }
    &__link {
      color: #ffc300 !important;
      font-weight: 700 !important;
      line-height: 1.5 !important;
    }
  }
}

/*
  MAIN
  ======================================================================================================================
*/
.main {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: calc(1280px - 2rem);
}

// MAIN SECTION
.main-section {
  @include background(linear-gradient(45deg, rgba(0, 0, 0, 0.81) 0, rgba(0, 17, 78, 0.85) 100%), url('img/565.jpg'));
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 800px;

  &__container {
    padding: 20% 0 10%;
    @extend .container;
  }
  &__promo {
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  &__title {
    margin: 3% auto 0;
    font-size: 1.45rem;
    color: #ffc300;
    font-weight: bold;
    text-align: center;
    line-height: 1.4em;
    text-transform: uppercase;
  }
  &__subtitle {
    margin: 20px auto;
    width: 80%;
    color: #9b9ab9;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
  }
}

// MEDIA QUERIES
@media screen and (max-width: 768px) {
  .main-section {
    &__container {
      padding: 50% 0 10%;
    }
    &__promo {
      font-size: 2.5rem;
    }
  }
}

.section {
  padding: 4rem 0;
  min-height: 600px;
  &__container {
    @extend .container;
  }
  &__header {
    padding: 1rem 0;
  }
  &__title {
    display: block;
    position: relative;
    padding: 1rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: .15rem;
    text-align: center;
    text-transform: uppercase;
    &:after {
      content: '';
      position: absolute;
      left: calc(50% - 1.5rem);
      bottom: -.3rem;
      height: 1rem;
      width: 3rem;
      @include background(url('img/title_bg.png'));
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &__subtitle {
    display: block;
    padding: 1rem 0;
    font-size: .8rem;
    color: #daaf11;
    letter-spacing: .15rem;
    text-align: center;
    text-transform: uppercase;
  }
}

// SECTIONS MODIFIED
.section {
  @include background-size(cover !important);
  background-repeat: no-repeat !important;
  background-position: center center !important;
  &--portfolio {
    @include background(linear-gradient(45deg, rgba(23, 23, 31, 0.9) 0, #17171f 100%), url('img/bg_2.jpg'));
  }
  &--testimonials {
    @include background(linear-gradient(45deg, rgba(23, 23, 31, 0.9) 0, #17171f 100%), url('img/53.jpg'));
  }
  &--contacts {
    @include background(linear-gradient(45deg, rgba(0, 0, 0, 0.81) 0, rgba(11, 21, 60, 0.95) 100%), url('img/bg_contcats.jpg'));
  }
}

// MEDIA QUERIES
@media screen and (max-width: 768px) {
  .section {
    padding: 1.5rem 0;
    &__title {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}

/*
  FOOTER
  ======================================================================================================================
*/
.footer {
  &__copyright {
    @extend .container;
    margin: -3rem auto 0;
    font-size: .8rem;
    color: #323544;
    text-align: center;
    line-height: 3;
    @include transition(color .3s Linear);
    &:hover {
      color: #fff;
    }
  }
}

