@import "compass";
@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&amp;display=swap&amp;subset=cyrillic');

// VARIABLES
// =====================================================================================================================
$font-family: 'Montserrat', sans-serif !important;
$text-color: #212121;
$box-shadow-lite: 0 0 1rem 0 rgba(0, 0, 0, 0.1);

/*
  GLOBAL
  ======================================================================================================================
*/
* {
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  padding: 4rem 0 0;
  font-family: $font-family;
  font-size: 1rem;
  color: $text-color;
}
/*
  HEADER
  ======================================================================================================================
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  background: #fff;
  @include box-shadow($box-shadow-lite);
  z-index: 100;
  &__container {
    @include display-flex();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    @extend .container;
  }
  &__logo {
    display: inline-block;
    width: 10rem;
    line-height: 0;
  }
}

.btn-menu {
  display: none;
  position: relative;
  margin: 0;
  padding: 0;
  width: 2rem;
  background: transparent;
  border: none;
  line-height: 0;
  z-index: 120;
  &__line {
    display: block;
    float: left;
    margin: 2px 0;
    height: 2px;
    width: 100%;
    background: #2d2d2d;
    transition: all .15s Linear;
    &:nth-child(2) {
      width: 1rem;
      background: #ff004e;
    }
  }
}

.splash {
  transition: all .3s Linear;
}

// MENU OPEN
.menu-open {
  overflow: hidden;
  & .main-menu {
    right: 0;
  }
  & .btn-menu {
    &__line {
      &:nth-child(2) {
        float: right;
        background: #ff004e;
      }
    }
  }
  .splash {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    transition: all .3s Linear;
    opacity: .6;
    background: #000;
  }
}
// MAIN MENU
.main-menu {
  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    position: relative;
  }
  &__link {
    display: block;
    padding: .5rem;
    font-size: .8rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .4px;
    @include transition(all .3s Linear);
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 0;
      background: transparent;
      @include transition(all .15s Linear);
    }
    &:hover {
      color: #ff004e;
      &:after {
        left: 0;
        width: 100%;
        background: #ff004e;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .btn-menu {
    display: block;
  }
  .main-menu {
    display: block;
    position: absolute;
    right: -75%;
    top: 0;
    padding: 3rem 0;
    width: 70%;
    height: 110vh;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.45);
    transition: all .15s Ease;
    z-index: 110;
    &__item {
      display: block !important;
    }
    &__link {
      color: #2c4792 !important;
      font-weight: 700 !important;
      line-height: 1.5 !important;
    }
  }
}

/*
  MAIN
  ======================================================================================================================
*/
.main {
  padding: 0;
  margin: 0;
  min-height: 3000px;
}
.section {
  padding: 3rem 0;
  &__container {
    @extend .container;
  }
  &__title {
    position: relative;
    padding: 1rem 0;
    font-size: 1.2rem;
    color: #000;
    letter-spacing: .05rem;
    text-transform: uppercase;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2rem;
      height: 2px;
      background: #ff004e;
    }
  }
  &__tagline {
    padding: 1rem 0;
    font-size: .9rem;
    color: #718baf;
    letter-spacing: .05rem;
    text-transform: uppercase;
  }
  // MODIFIED BACKGROUND COLORS
  &--light-blue {
    background: #f5f9fb;
  }
}


.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: calc(1280px - 2rem);
}

/*
  FOOTER
  ======================================================================================================================
*/
.footer {
  &__container {
    @extend .container;
  }
  &__copyright {
    @extend .container;
    font-size: .9rem;
    color: #a5b0db;
    text-align: center;
    line-height: 3;
  }
}