@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&amp;display=swap&amp;subset=cyrillic");
/* line 5, ../../DevTools/Ruby/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../DevTools/Ruby/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../DevTools/Ruby/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../DevTools/Ruby/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../DevTools/Ruby/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../DevTools/Ruby/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../DevTools/Ruby/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../DevTools/Ruby/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../DevTools/Ruby/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  GLOBAL
  ======================================================================================================================
*/
/* line 15, style.scss */
* {
  outline: none;
}

/* line 19, style.scss */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* line 26, style.scss */
body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  color: #212121;
}

/*
  HEADER
  ======================================================================================================================
*/
/* line 35, style.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}
/* line 42, style.scss */
.header__container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/* line 49, style.scss */
.header__logo {
  display: inline-block;
  width: 10rem;
  line-height: 0;
}

/* line 56, style.scss */
.btn-menu {
  position: relative;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  line-height: 1;
  z-index: 120;
}
/* line 64, style.scss */
.btn-menu .circle {
  fill: #2d2d2d;
  transition: all .15s Linear;
}

/* line 70, style.scss */
.splash {
  transition: all .3s Linear;
}

/* line 75, style.scss */
.menu-open {
  overflow: hidden;
}
/* line 77, style.scss */
.menu-open .main-menu {
  right: 0;
}
/* line 81, style.scss */
.menu-open .btn-menu .circle {
  fill: #e4e8f1;
}
/* line 83, style.scss */
.menu-open .btn-menu .circle:nth-child(2), .menu-open .btn-menu .circle:nth-child(6), .menu-open .btn-menu .circle:nth-child(8) {
  fill: #ff004e;
}
/* line 90, style.scss */
.menu-open .splash {
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  transition: all .3s Linear;
  opacity: .6;
  background: #000;
}

/* line 105, style.scss */
.main-menu__list {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
/* line 111, style.scss */
.main-menu__item {
  display: inline-block;
  position: relative;
}
/* line 115, style.scss */
.main-menu__link {
  display: block;
  padding: .5rem;
  font-size: .8rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .4px;
  -moz-transition: all 0.3s Linear;
  -o-transition: all 0.3s Linear;
  -webkit-transition: all 0.3s Linear;
  transition: all 0.3s Linear;
}
/* line 124, style.scss */
.main-menu__link:after {
  content: '';
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: transparent;
  -moz-transition: all 0.15s Linear;
  -o-transition: all 0.15s Linear;
  -webkit-transition: all 0.15s Linear;
  transition: all 0.15s Linear;
}
/* line 135, style.scss */
.main-menu__link:hover {
  color: #ff004e;
}
/* line 137, style.scss */
.main-menu__link:hover:after {
  left: 0;
  width: 100%;
  background: #ff004e;
}

@media screen and (max-width: 768px) {
  /* line 147, style.scss */
  .main-menu {
    display: block;
    position: absolute;
    right: -75%;
    top: 0;
    padding: 3rem 0;
    width: 70%;
    height: 110vh;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.45);
    transition: all .15s Ease;
    z-index: 110;
  }
  /* line 159, style.scss */
  .main-menu__item {
    display: block !important;
  }
  /* line 162, style.scss */
  .main-menu__link {
    color: #2c4792 !important;
    font-weight: 700 !important;
    line-height: 1.5 !important;
  }
}
/*
  MAIN
  ======================================================================================================================
*/
/* line 174, style.scss */
.main {
  padding: 0;
  margin: 0;
  min-height: 3000px;
}

/* line 180, style.scss */
.container, .header__container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: calc(1280px - 2rem);
}

/*
  FOOTER
  ======================================================================================================================
*/
